doctype html
html(ng-app="app")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    base(href='/' target='_self')
    block title
      title Static site template
    //-link(href='app.min.css' rel='stylesheet' type='text/css')
    link(href='app.css' rel='stylesheet' type='text/css')

  body
    block content

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-sanitize.min.js')

    //-script(src='libs/lodash-3.8.0/lodash.min.js')
    //-script(src='libs/momentjs/moment.min.js')
    //-script(src='libs/momentjs/locale/ru.js')

    //-script(src="app.min.js")
    script(src="app.js")